PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=sedra
DB_PASSWORD=sedra2003
DB_NAME=user_service_db

JWT_SECRET=secret123
INTERNAL_API_KEY=chu-internal-key-a1b2c3d4
SERVICE_SERVICE_URL=http://localhost:3002
